
#page-header {
    height: 30px;
    background: #00879e;
    border-bottom: 1px solid #aaa;
}

#page-header-menu {
    list-style: none;
}

#page-header-menu li {
    border-left: 1px solid #00768a;

}

#page-header-menu li a{
    transition: background .3s ease;
    white-space: nowrap;
    color: #fff;
    display: block;
    padding: 0 5px;
    line-height: 28px;
    font-size: 11px;
    font-family: "iranSans";
}

#page-header-menu li a:hover{
    text-decoration: none;
}

#page-header-datetime {
    line-height: 28px;
    font-size: 11px;
    direction: rtl;
    font-family: "yekan";
    color: #fff;
    display: inline-block;
    width: 65.875px;
    position: relative;
    padding-right: 24px;
    text-align: left;
    padding: 0 5px;
    white-space: nowrap;
    border-left: 1px solid #00768a;
}

#page-header-datetime i{
    font-size: 11px;
    top: 50%; position: absolute; right: 0px; transform: translateY(-50%);

}

#page-header-datetime i:before{
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    right: 8px;
    font-size: 16px;
    position: absolute;
    top:-12px;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    content: "\f017";
}
#page-header-datetime--date {
    line-height: 28px;
    font-size: 11px;
    direction: rtl;
    font-family: "yekan";
    color: #fff;
    display: inline-block;
    width: 102.219px;
    position: relative;
    padding-right: 24px;
    text-align: left;
    padding: 0 5px;
    white-space: nowrap;
    border-left: 1px solid #00768a;
}

#page-header-datetime--date i{
    font-size: 11px;
    top: 50%; position: absolute; right: 0px; transform: translateY(-50%);

}

#page-header-datetime--date i:before{
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top:-12px;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    content: "\f073";
}
.color-bar{
    height: 2px;
    width: 100%;
    display: block;
}

.color-bar--item{
    display: block;
    float: right;
    width: 20%;
    height: 2px;
}
.color-bar > .red{
    background-color: #e74c3c;
}
.color-bar > .yellow{
    background-color: #f1c40f;
}
.color-bar > .blue{
    background-color: #4285f4;
}
.color-bar > .green{
    background-color: #2ecc71;
}
.color-bar > .gray{
    background-color: #666;
}
nav{
    height: 38px;
    background-color: #f0f0f0;
    box-shadow: 0 1px 6px #aaa;
    direction: rtl;
}

#menu-navigation{

}
#menu-navigation   li{
    direction: rtl;
    padding: 0 7px;
    float: right;
}

#menu-navigation  li   a{
    color: #444;
    line-height: 34px;
    font-size: 12px;
    white-space: nowrap;
    font-family: "iranSans";
}

#menu-navigation li a:hover{
    color: #fe8d09;
    text-decoration: none;
}

#page-search{
    display: block;
    margin: 5px 0 4px;
    position: relative;
}
#page-search input[type=text] {
    position: absolute;
    height: 28px;
    outline: none;
    border: 0;
    background: #e4e4e4;
    left: 28px;
    width: 232px;
    padding: 4px;
    line-height: 20px;
    color: #666;
    font-size: 10px;
    font-family: "iranSans";
}

#page-search button{
    left: 0;
    width: 28px;
    cursor: pointer;
    border-radius: 2px 0 0 2px!important;
    position: absolute;
    height: 28px;
    outline: none;
    border: 0;
    background: #e4e4e4;
}
.varzesh3-icon-magnifying-glass{
    color: #4285f4;
    background: #e4e4e4;
    font-size: 16px;
 }
.varzesh3-icon-magnifying-glass:before{
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    content: "\f002";
    position: absolute;
    top: 4px;
    left: 5px;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
}