@font-face {
  font-family: iranSans;
  src: url('./iransanaweb_medium.ttf');
}
@font-face {
  font-family: yekan;
  src: url('./yekannumbers-regular.ttf');
}
body{
  background: url('./background.png');
}

.container{
  width: 924px;
}